.container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    padding: 2vw 5vw 2vw 5vw;
    flex-direction: column;
    font-size: 1.3vw;
}

.imageContainer{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    padding: 2vw 5vw 2vw 5vw;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 3vw;
}

.date{
    text-align: right;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.elonzuk{
    margin-top: 10%;
    width: 100%;
}