.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: scroll;
}

.modalContent {
    background-color: white;
    margin: 15% auto;
    padding: 5vw 5vw 10vw 5vw; 
    width: 60%;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
}

.modalContent p{
    margin: 0;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1vw 0 0;
    cursor: pointer;
    font-size: 2vw;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 3vh;
}

.rowOne{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 5vw;
}

.left{
    flex-basis: 30%;
    text-align: left;
    padding-left: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.right{
    flex-basis: 70%;
    text-align: left;
    padding-left: 13%;
    box-sizing: border-box;
    overflow: auto;
    /* overflow-wrap: break-word; */
}


.contact{
    flex-basis: 70%;
    text-align: left;
    position: absolute;
    right: 0;
}

.contact p{
    margin: 0.5vw;
    padding: 0;
    font-size: 1vw;
    color: 	#696969;
}

.contact a{
    color: #696969;
}



.workHistoryContainer{
    margin-bottom: 2vw;
    &:last-child{margin-bottom: 0;}
}

.workHistory{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.education{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.educationContainer{
    margin-bottom: 1vw;
    &:last-child{margin-bottom: 0;}
    
}

h3{
    margin: 0;
}

.workHistory p{
    margin: 0;
}

.workTimeline{
    color: 	#696969;
    font-size: 1vw;
    margin: 0;
}

.educationTimeline{
    color: 	#696969;
    font-size: 1vw;
    margin: 0;
}


.nowrap{
    white-space: nowrap;
}


.listContainer{
    margin: 0;
}

.timeDetailSeperator{
    margin-bottom: 0.5vw;
}