.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100%;
    overflow: scroll;
    text-align: center;
}

.header{
    margin-top: 3vw;
    width: 100%;
    margin-bottom: 5vw;
}

.entryContainer{
    margin-left: 4vw;
    text-align: left;
}

.container h1{
    font-size: 2.5vw;
}


.login{
    display: flex;
    height: 5%;
    width: 30%;
    background-color: #3b71ca;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    bottom: 3vw;
    left: 2vw;
}

.login a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
}