.titleDateContainer{
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 5vw;
    padding: 0.5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title {
    margin-right: 5%;
}

.titleInput{
    border-radius: 1vw;
}

.titleDateWrapper{
    width: 90%;
    display: flex;
    background-color: #fff;
    height: 5vw;
    padding: 0.5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titleDateContainer label{
    font-size: 1.5vw;
}

.titleDateContainer input{
    font-size: 1.5vw;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoryDisplay{
    margin-left: 10%;
    margin-right: 10%;
    min-height: 3vw;
    border-radius: 1vw;
    border-style: solid;
}

.dropDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.dropDownItemWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.categoryInput{
    display: inline-block;
    position: absolute;
    z-index: 1;
    border-radius: 1vw;
}

.dropDownItem{
    display: block;
    text-align: center;
    background-color: #fff;
    border: 1vw 1vw;
    border-radius: 1vw;
    border-color: rgb(12, 0, 0);
    border-style: solid;
    z-index: 1;
    margin-top: 0.3vw;
    border-width: 0.1vw;
    padding: 5% 5%;
}

.createButton{
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #059729;
    border-radius: 1vw;
    border-style: solid;
    z-index: 1;
    border-width: 0.1vw;
    padding: 5% 5%;
}

.dropDownItem:hover{
    cursor: pointer;
   
}


.categoryContainer .titleContainer, .dateSubmitContainer{
    flex-basis: 33%;
    flex-grow: 1;
}

.titleContainer, .dateSubmitContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.titleContainer label{
    flex-basis: 20%;
    flex-grow: 1;
    text-align: center;
}

.titleContainer input{
    flex-basis: 80%;
    flex-grow: 1;
    height: 3vw;
}

.dateSubmitContainer{
    display: flex;
    margin-left: 5%;
}

.dateContainer{
    flex-basis: 70%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateLabel{
    margin-right: 5%;
}


.dateContainer label{
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1;
}

.react-datepicker{
    height: 4vw;
    flex-basis: 80%;
    flex-grow: 1;
}

.buttonContainer{
    flex-basis: 30%;
    flex-grow: 1;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left: 2vw;
}