.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tableEntry p{
    font-size: 1.3vw;
    color: black;
    margin: 0.5vw;
}

.tableEntry :hover{
    cursor: pointer;
    font-size: 1.8vw;
}

.deletion p{
    font-size: 1.3vw;
}

.deletion :hover{
    cursor: pointer;
    font-size: 1.8vw;
}

.deleteTitle{
    font-weight: bold;
    font-size: 1.8vw;
}

.ant-modal-footer{
    display: flex;
    flex-direction: row-reverse;
}